body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: MiSansLatin;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.topbar {
    height: 2rem;
    border: #d1d1d1 1px solid;
    background-color: #f2f2f2;
}

.interface {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.leftBar {
    width: 2.5rem;
    border-right: #cecece 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftBar .bottom {
    display: flex;
    flex-direction: column;
     justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.leftBar .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
}

.leftBar img {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: 0.5rem;
    padding: 6px;
    filter: invert(37%) sepia(10%) saturate(487%) hue-rotate(194deg) brightness(97%) contrast(87%);
}

.leftBar img:hover {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 25%;
}

.leftBar img.active {
    background-color: rgba(219, 123, 15, 0.5);
    border: 2px solid rgb(219, 123, 15);
    border-radius: 25%;
    width: 1.1rem;
    height: 1.1rem;
    padding: 5px;
}
.leftBar img.active:hover {
    background-color: rgba(219, 123, 15, 0.7);
}

.leftBar .top img:first-child {
    margin-top: 1rem;
}

.leftBar .bottom img:last-child {
    margin-bottom: 1rem;
}


.workzone {
    display: flex;
    flex-grow: 1;
}

.workzone-vertical {
    flex-direction: column;
}

.editor-container {
    flex: 2;
}

#editor {
    height: 100%;
}

.window {
    flex: 1;
    font-family: MiSansLatin;
    border: #d1d1d1 1px solid;
    box-sizing: border-box;
    background-color: #ffffff;
    color: black;
    border-top-width: 0;
}
.workzone-vertical .window {
     border-left-width: 0;
    border-top-width: 1px;
 }

.window .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    width: 100%;
    height: 2.5rem;
    border-bottom-width: 1px;
    border-bottom-color: #d1d1d1;
    border-bottom-style: solid;
    background-color: #f3f3f3;
}

.window .toolbar .title {
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.3px;
    color: #1d1d1d;
    margin-left: 1rem;
}

.window .toolbar .left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
}

.window .toolbar .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}

.window .toolbar img {
    height: 42%;
    stroke-width: 10px;
}

.window .toolbar img {
    margin-right: 0.5rem;
    padding: 6px;
    filter: invert(67%) sepia(30%) saturate(603%) hue-rotate(68deg) brightness(86%) contrast(89%);
}

.window .toolbar img:hover {
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 25%;
}

.window .toolbar img.colored {
    filter: none;
}

.window .toolbar img.colored:hover {
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 25%;
}


.window .toolbar img:last-child {
    filter: none;

}

.window .toolbar select {
    border: none;
    outline: none;
    border-radius: 0.3rem;
    font-size: 80%;
    background: transparent;
    padding: 0.4rem 0.1rem 0.4rem 0.3rem;
    margin-right: 1rem;
}

.window .toolbar select:hover {
    background: #d9d9d9;
}

#output {
    border: none;
    outline: none;
    resize: none;
    width: calc(100% - 1rem);
    height: calc(100% - 3.8rem);
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 1;
}

.highlight-red {
    position: absolute;
    border-bottom: 1px solid #db5664;
    z-index: 10;
    /* background-color: #db5663b8; */
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: #f7f8fa;
    margin: 10% auto;
    padding: 0;
    border-radius: 0.4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 80%;
    animation: modalFadeIn 0.3s;
}

@keyframes modalFadeIn {
    from {opacity: 0; transform: translateY(-30px);}
    to {opacity: 1; transform: translateY(0);}
}

.modal-header {
    /*border-bottom: 1px solid #ddd;*/
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    padding: 0.5rem 0;
    text-align: center;
}

.modal-header p {
    margin: 0;
    font-weight: bold;
    font-size: small;
    color: #565757;
    text-align: center;
}
.close {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: rgba(255, 255, 255, 0);
    font-size: 0.7rem;
    line-height: 0.5rem;
    font-weight: bold;
    cursor: pointer;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.1rem;
    border-radius: 100%;
    background-color: #ff5f57;
}

.close:hover,
.close:focus {
    color: #730100;
    text-decoration: none;
}

.modal-body {
    padding: 15px;
}

.modal-footer {
    padding: 0.5rem 0.6rem;
    border-top: 1px solid #ebecf0;
    text-align: right;
}

.modal-footer button {
    box-sizing: border-box;
    padding: 0.3rem 1.1rem;
    background-color: white;
    outline: 1px solid #c8ccd6;
    border-radius: 0.2rem;
    border-style: none;
    cursor: pointer;
    font-size: 0.85rem;
}
.modal-footer button:active {
    outline-color: #3574f0;
    outline-width: 2px;
}


.settings-row {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.settings-row label {
    flex: 1;
    font-size: 0.9rem;
}

.settings-row select {
    flex: 2;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
    border: 1px solid #c8ccd6;
}
.settings-row select:focus {
    outline: none;
}